# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

src/away3d/*
src/com/adobe/utils/AGALMiniAssembler.as
src/org/osflash/signals/*
src/org/robotlegs/*